[user]
    email = koh.okada@gmail.com
    name = Koh Okada
[alias]
    tr  = log --graph --all --decorate --abbrev-commit --branches --date=short --pretty=format:\"%C(red)%h%C(reset) %C(green)[%ad]%C(reset) %s %C(cyan)@%an%C(reset) %C(yellow)%d%C(reset)\"
    lm  = log --pretty=format:'[%ad] %h %an : %s' --abbrev-commit --merges
    st  = status
    ch  = checkout
    sl  = stash list
    ss  = stash save
    fe  = fetch -p
    br  = branch
    cp  = cherry-pick
    db-m = "!f () { git checkout $1; git branch --merged | egrep -v '\\*' | xargs git branch -d; };f"
[core]
    editor = /usr/bin/vim
    pager = less -cm
    quotepath = false
    ignorecase = false
    preloadindex = true
    fscache = true
[color]
    diff = auto
    status = auto
    branch = auto
